.DS_Store
/nbproject/private/
/nbproject/project.properties
/dev-Strona

# Below files are tracked with git lfs:
/Strona/2015/\[2015.04.01\]\ Droga\ Wojownika\ 2015/Droga_Wojownika_-_xBKowalski_i_xPPawlukiewicz_ASK_SoliDeo.mp3
/Strona/O nas/Multimedia/solideo_dw_20150506_raw.mp3
/Strona/O nas/Multimedia/dyktafon_20140414.zip
